#main-head{
    background-color: #7a0402;
    color: white;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
}

#box1 h2{
    float: left;
}

#box1 button{
    float: right;
}

.container{
    margin-top: 50px;
}

h6{
    text-align:center;
    color: red;
}